In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"key1" : ["a", "a", None, "b", "b", "a", None],
                   "key2" : pd.Series([1, 2, 1, 2, 1, None, 1],
                                      dtype="Int64"),
                   "data1" : np.random.standard_normal(7),
                   "data2" : np.random.standard_normal(7)})

In [8]:
df

   key1  key2     data1     data2
0     a     1 -0.306186  1.256744
1     a     2 -0.405959 -0.840575
2  None     1 -0.804108 -0.224759
3     b     2 -2.006334  0.855388
4     b     1 -2.455802 -0.854264
5     a  <NA> -0.796308  1.262202
6  None     1  0.554305  1.265551

In [5]:
grouped = df.groupby({"key1", "key", "key2", "key",
                      "data1": "data", "data2": "data"}, axis="columns")

SyntaxError: invalid syntax (4121352652.py, line 2)

In [6]:
group_mapping = {
    "key1": "keys",
    "key": "keys",
    "key2": "keys",
    "data1": "data",
    "data2": "data"
}

In [7]:
grouped = df.groupby(group_mapping, axis="columns")

C:\Users\11321\AppData\Local\Temp\ipykernel_31184\1619439346.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  grouped = df.groupby(group_mapping, axis="columns")